header{
    display: flex;
    background-color: #222222;
    color:#f3f3f3;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    

}
.logo-1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    align-self: center;
}

.nav ul{
    display: flex;
    
    list-style: none;
    justify-content: space-evenly;
    
}
.nav li{
    display: flex;
    padding-left: 50px;

}
nav a{
    text-decoration: none;
    color: #f3f3f3;

}
