*{
    padding:0;
    margin:0;
    font-family: 'roboto',sans-serif;
    list-style:none;
    box-sizing: border-box;

}
/* barra sup */

.navSup{
    height: 20px;
    width:100% vw;
    background-color: #222222;
    color:#f3f3f3;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.navSup p{
    font-size: 10px;
    font-weight: 400;
    margin-left: 90px;
}
/* barra sup-opciones de idioma y moneda*/
.nav-list{
    display: flex;
    justify-content: space-between;
    margin:4px,50px;
}
#precio, #idioma{
    background-color: #222222;
    color:#f3f3f3;
    border: none;
    font-size: 10px;
    margin-right: 50px;

}
.list li{
    padding: 10px;
    
}

/*barra menu principal */
.header{
    display: flex;
    background-color: #F0A83E;
    width: 100% vw;
    height: 62 px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    display: flex;
    margin: 0 40px;
    align-items:center;
}
.logo {
    width: 166px;
    height: 23px;
}

.header-nav-list{
    display: flex;  
}

.header-nav-list li{
    color: #f3f3f3;
    padding: 20px;
    font-size: 13px;
    font-weight: 400; 
}
/*menu-hamburguesa*/
.menu-ham{
    visibility:hidden;
    height: 5%;
    
}
/*contenido para el area principal*/

.top {
    background-image: url('../imagenes/foto.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 409px;
    width: 100% vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    margin-bottom: 20px;
}
.banner{
    margin: 15px; 
}
/*banner*/
h2 {
    color:#3C2313;
    font-size: 30px;
    font-weight: 400;
    background-color: #f3f3f3;
    width: 365px;
    height: 54px;
    text-align: center;
    border-radius:5px;
    padding: 10px;
}
.banner p{
    color:#3C2313;
    font-size: 16px;
    font-weight: bold;
    margin-top: 12px;
    padding-top: 20px;
    text-align:center;
}
.btn{
    color:#f3f3f3;
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px; ;
    background-color: #F0A83E;
    width: 141px;
    height: 49px;
    border:none;
    border-radius:5px;
    text-align: center;
}
/*productos*/
.Pata i{
color:#F0A83E;
}

.Pata{
    display: flex;
    flex-direction: column;
    height: 190px;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}
.Pata h1 {
    color:#3C2313;
    font-size:40px;
    font-style: normal;
    font-weight: bold;
    padding-top: 5px;


}
.Pata li{
    display: inline;
    color:#666666;
    font-size: 15px;
    font-weight: 400;
    justify-content: space-between;
    align-items:center;
}
/*productos destacados*/

.produc-dest{
    display: flex;
    justify-content: center;
}
.card{
    height: 352px;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight:500;
    font-size: 15px;
    margin:49px 10px 78px;
}

.card h3{
    color:#3C2313; 
    margin: 10px;

}
.card p{
    color:#F0A83E;
    margin: 10px;
}
/*Formulario*/
h4{
    display: flex;
    justify-content: center; 
    color:#3C2313;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 50px;
}

.formSectionF {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.formSectionTitle {
    height: 60px;
    color: rgba(60, 35, 19, 1);
    font-size: 25px;
    font-weight: 700;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.formItem {
    background-color: rgba(60, 35, 19, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 9px;
    font-weight: 400;
    height: 40px;
    width: 340px;
    border-radius: 15px;
    margin: 5px;
    border: none;
}

.formButtonR {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(138, 135, 135, 1);
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: none;
    margin-top: 35px;
    margin-bottom: 70px;
    margin-right: 10px;
    width: 110px;
}

.formButtonS{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(240, 168, 62, 1);
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: none;
    margin-top: 35px;
    margin-bottom: 70px;
    margin-left: 10px;
    width: 110px;
}
/*subscription*/
.subscription {
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F0A83E;
    color:#f3f3f3;
    width:100% vw;
    height: 60px; 
} 
.subscr{
    display: flex;
}
.enve{
    display: flex;
}
.emvelope{
    width: 34px;
    height: 20px;
}
.p-subs{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    width: 288px;
    margin-left: 20px;
}
.formItem-2{
    background-color:#f3f3f3;
    color:#A0A0A0;
    width: 271px;
    height: 40px;
    border-radius: 15px;
    border: none;
    
}
.formButton-2{
    background-color: #3C2313;
    color:#f3f3f3;
    text-align: center;
    border: none;
    width: 70px;
    height: 34px;
    border-radius: 15px;
    margin-right: 47px;
    margin-left:20px ;
}


/*footer*/

footer section{
    display: flex;
    width:100% vw;
    color:#f3f3f3;
    background-color: #3C2313;
    justify-content: space-between;
}
.art-footer{
    display: flex;
    flex-direction: column;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 30px;
}
.contact img{
    width: 54px;
    height: 54px;
}
h3{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
}
.p{
    font-size: 12px;
    margin-left: 111px;
}
.art-footer{
    align-self: center;
    margin-right: 30px;
}
.piedepag{
    background-color: #222222;
    color:#FFFFFF;
    text-align: center;
}
@media(min-width:320px) and (max-width: 1000px){
.navSup{
    display: none;
}
.header-nav-list {
    display: none;
}
.menu-ham{
    visibility: visible;
    color: #FFFFFF;
    }
.produc-dest{
    flex-direction: column;
}
.subscription{
    flex-direction: column;
    width: 100vw;
    height: 101px;
    align-content: center;
}
.formItem-2{
    justify-content: center;
    width: 231px;
    height: 40px;
}
footer section{
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    height: 326px;
}

}